.breaking-1 {
    color: #666;
}

.breaking-2 {
    color: #888;
}

.breaking-3 {
    color: #aaa;
}

.breaking-4 {
    color: #ccc;
}

.broken {
    color: green;
}

.background {
    background-color: rgba(25, 25, 25, 0.8) !important;
}